/* NX = not expanded */

.side-nav-container {
    background-color: var(--dark);
    width: 300px;
    height: 100vh;
    position: absolute;
    color: var(--light);
    transition: 0.4s;
    z-index: 1000;
}

.side-nav-container-NX {
    width: 85px;
}

.nav-upper,
.nav-heading,
.nav-menu,
.menu-item,
.nav-footer {
    /* border: 2px solid white; */
    display: grid;
    width: auto;
    gap: 15px;
    font-size: 15px;
}

.nav-heading {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    height: 75px;
}

.nav-brand {
    display: flex;
    color: var(--light);
    justify-content: center;
    align-items: center;
}

.nav-brand img {
    height: 40px;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    margin: auto;
}

.hamburger span {
    display: block;
    margin-top: 5px;
    background-color: var(--light);
    border-radius: 15px;
    height: 5px;
    width: 35px;
    transition: 0.4s;
}


.hamburger:hover span {
    background-color: var(--primary);
}

.hamburger-in:hover span:nth-child(1) {
    width: 25px;
    transform: translateY(4px) rotate(-25deg);
}

.hamburger-in:hover span:nth-child(2) {
    color: var(--dark);
}

.hamburger-in:hover span:nth-child(3) {
    width: 25px;
    transform: translateY(-4px) rotate(25deg);
}

.hamburger-out {
    margin-left: 20px;
}

.hamburger-out:hover span:nth-child(1) {
    width: 25px;
    transform: translate(14px, 4px) rotate(-155deg);
}

.hamburger-out:hover span:nth-child(2) {
    width: 40px;
}

.hamburger-out:hover span:nth-child(3) {
    width: 25px;
    transform: translate(14px, -4px) rotate(155deg);
}

.nav-menu {
    grid-template-rows: repeat(7, 1fr);
    margin: 0px;
}

.menu-item {
    height: 57px;
    display: flex;
    color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
    margin: auto 10px;
    border-radius: 10px;
    cursor: pointer;
}

.menu-item-NX {
    margin: auto;
}

.menu-item:hover {
    background-color: var(--primary);
}

.menu-item img {
    width: 40px;
    padding: 0 20px;
    color: white;
}

.profile-circle {
    width: auto;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
    /* Makes the image circular */
    object-fit: cover;
    /* Ensures the image fits within the circle */
}

/* Responsive Design */
@media screen and (min-width: 1024px) {

    .nav-menu,
    .menu-item,
    .menu-item-NX {
        align-items: center;
        text-align: center;
    }

    .nav-heading {
        margin-left: 0px;
        padding: 10px 0px 0px 0px;
    }

    .nav-brand {
        width: 100%;
    }

    .hamburger-out {
        margin-left: 20px;
    }

    .profile-circle {
        margin-top: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width:884px) {
    .side-nav-container {
        z-index: 1000;
        position: absolute;
    }

    .hamburger-out {
        margin-left: 20px;
    }

    .nav-menu {
        gap: 25px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .side-nav-container {
        display: none;
    }
}