.profile-container {
    display: flex;
    margin-left: 85px;
    gap: 20px;
}

.profile-card {
    width: 30%;
    margin: 10px;
    background: white;
    border-radius: 10px;
    text-align: center;
    border: solid 3px var(--dark);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card h2 {
    margin: 0px;
}

.role {
    margin: 0%;
}

.profile-image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.profile-image {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}

.camera-icon img {
    position: absolute;
    justify-content: baseline;
    z-index: 1000;
    cursor: pointer;
    height: 40px;
    background-color: var(--light);
    border-radius: 50%;
    left:320px;
    top: 180px;
}

input[type="file"] {
    display: none;
}

.editable-field img {
    position: relative;
    height: 20px;
    left: 50px;
}

.role {
    color: var(--primary);
}

.activity-section {
    margin: 10px 20px 20px 20px;
    display: flex;
    color: var(--light);
    flex-direction: column;
    margin-top: 20px;
    background-color: var(--dark);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.activity-section h1 {
    margin: 10px 0px;
    border-bottom: var(--light);
}

.activity-section button {
    padding: 10px;
    width: 80%;
    border: none;
    background: var(--light);
    color: var(--dark);
    cursor: pointer;
    border-radius: 5px;
    margin: 15px 0px;
    font-size: 25px;
}

.activity-section button.active {
    background: var(--primary);
    color: var(--light);
}

.content-container {
    width: 65%;

}

.content {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    border: solid 3px var(--dark);
    width: auto;
    height: 735px;
}

.profile-details {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.profile-details h3 {
    font-size: 40px;
}

.profile-details form {
    display: flex;
    flex-direction: column;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    color: var(--primary);
}

.profile-details input {
    width: 700px;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid var(--dark);
    border-radius: 5px;
    font-size: 20px;
}

.button {
    padding: 15px;
    font-size: 20px;
    background: var(--primary);
    color: var(--light);
    border: solid 2px var(--dark);
    cursor: pointer;
    border-radius: 5px;
    margin: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.jobs,
.internships,
.workshops {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.job-card,
.workshop-card,
.internship-card {
    background: #f3f4f6;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.jobs h3,
.internships h3,
.workshops h3 {
    font-size: 40px;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .profile-container{
        margin-left: 0;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .profile-card{
        width: 350px;
    }
    .content{
        width: 350px;
        margin: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .content-container{
        justify-self: center;
        align-items: center;
        width: 350px;
    }
    .camera-icon img{
        left: 230px;
        top: 125px;
        height: 40px;
        width: 40px;
    }
    .forms{
        margin: 20px 30px;
    }
    .profile-details input{
        width: 250px;
    }
    .profile-details h3{
        margin: 40px 20px;
    }
}

@media screen and (width: 768px){
    .profile-container{
        margin-left: 85px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .profile-card{
        width: 600px;
    }
    .content{
        width: 600px;
        margin: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .content-container{
        justify-self: center;
        align-items: center;
        width: 600px;
    }
    .camera-icon img{
        left: 360px;
        top: 175px;
        height: 50px;
        width: 50px;
    }
    .forms{
        margin: 20px 30px;
    }
    .profile-details input{
        width: 360px;
    }
    .profile-details h3{
        margin: 40px 20px;
    }

}

@media screen and (min-width: 800px) and (max-width:884px){
    .profile-container{
        margin-left: 85px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .profile-card{
        width: 700px;
    }
    .content{
        width: 700px;
        margin: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .content-container{
        justify-self: center;
        align-items: center;
        width: 700px;
    }
    .camera-icon img{
        left: 355px;
        top: 185px;
        height: 50px;
        width: 50px;
    }
    .forms{
        margin: 20px 30px;
    }
    .profile-details input{
        width: 360px;
    }
    .profile-details h3{
        margin: 40px 20px;
    }
}
@media screen and (min-width: 1280px){
    .profile-card{
        width: 600px;
    }
    .content{
        width: 600px;
        margin: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .content-container{
        justify-self: center;
        align-items: center;
        width: 600px;
    }
    .camera-icon img{
        left: 355px;
        top: 185px;
        height: 50px;
        width: 50px;
    }
    .forms{
        margin: 20px 30px;
    }
    .profile-details input{
        width: 360px;
    }
    .profile-details h3{
        margin: 40px 20px;
    }
}