/* App Layout */
.App {
  display: flex;
  height: 100vh; /* Ensure the full viewport height */
  width: 100vw; /* Ensure the full viewport width */
  overflow: hidden; /* Prevent overflow on the x-axis */
}

.NavBar {
  width: 30vw; /* Fixed width for the navbar */
  height: 100vh; /* Make it occupy the full height of the viewport */
  position: fixed; /* Ensure the navbar stays fixed on the left */
  top: 0; /* Stick to the top of the screen */
  left: 0; /* Stick to the left of the screen */
  z-index: 999; /* Ensure it's above other content */
  overflow-y: auto; /* Allow vertical scrolling within the navbar, if needed */
}

.main-content {
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling for the content */
  height: 100vh; /* Ensure it matches the viewport height */
}
@media screen and (max-width: 480px){
  .main-content{
    width: 100vw;
  }
}
@media screen and (max-width: 768px){
  .main-content{
    width: 50%;
  }
}